<ion-nav-bar class="bar-dark"></ion-nav-bar>
<ion-nav-view>
<ion-view hide-back-button="true" style="background-color: #669999;">
  <ion-content>
    <div style="height:220px;">
      <center><img src="http://i.imgur.com/xVPulK4.png" height="300" width="300" /></center>
    </div>
    <div class="card">
      <div class="item item-divider">
        Congratulations!
      </div>
      <div class="item item-text-wrap">
        Player {{ winner.num }} is the winner!
      </div>
      <div class="item item-divider">
        <font size="0.9">Ties not yet supported.</font>
      </div>
    </div>
  </ion-content>
</ion-view hide-back-button="true">
</ion-nav-view>